!!!
%head
  %title HighTables
  %link(rel="stylesheet" href="hightables.min.css")
  %script(type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js")
  %script(type="text/javascript" src="http://code.highcharts.com/highcharts.js")
  %script(type="text/javascript" src="hightables.js")

  :javascript
    Highcharts.setOptions({
      colors: [
        "#4488FF",
        "#50B432", 
        "#ED561B",
        "#DDDF00",
        "#24CBE5",
        "#64E572",
        "#FF9655",
        "#FFF263",
        "#6AF9C4"
      ]
    });

%body
  %article
    = render_content(:intro)

    %ul.table-of-contents
      - sections.each do |section|
        %li
          %a(href="##{section['id']}")= section["title"]

    - sections.each do |section|
      %section(id="#{section['id']}")
        = render_content(section["id"])
        = render_example(section["id"])
